<div ng-spinner-bar class="page-spinner-bar">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<!--to extract Home word-->
<span style="display: none;" translate>Home</span>
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">

        <div class="page-logo">
            <a href="#/">
                <img src="../../assets/images/logo.png" alt="logo" class="logo-default"/>
            </a>

            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggle button on header -->
            </div>
        </div>

        <form class="search-form hide" action="extra_search.html" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{{'Search...'|translate}}" name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                </span>
            </div>
        </form>

        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
        </a>

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">

                <li ui-view="notification" class="dropdown dropdown-extended dropdown-notification"
                    id="header_notification_bar" ui-view="notification">
                </li>
                <li ui-view="userMenu" class="dropdown dropdown-user">
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="clearfix">
</div>

<div class="page-container">

    <div class="page-sidebar-wrapper" ui-view="sidebar"></div>
    <div class="page-content-wrapper" ui-view="content">


    </div>

</div>
<div class="page-footer" ui-view="footer"></div>
