<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">-->
    <!--<img gravatar-src="username" class="img-circle" alt="{{username}}">-->
    <!--<span class="username username-hide-on-mobile ltr">{{username}}</span>-->
    <!--<i class="fa fa-angle-down"></i>-->
<!--</a>-->
<!--<ul class="dropdown-menu dropdown-menu-default">-->
    <!--<li ng-click="logOut()">-->
        <!--<a href="#" class="header-dropdown-menu">-->
            <!--<i class="icon-key"></i>-->
            <!--<translate>Logout</translate>-->
        <!--</a>-->
    <!--</li>-->
<!--</ul>-->
