<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">-->
    <!--<i class="icon-bell"></i>-->
      <!--<span class="badge badge-default" ng-show="notifications.length">-->
      <!--{{notifications.length}} </span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
    <!--<li class="external">-->
    <!--</li>-->
    <!--<li>-->
        <!--<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">-->
            <!--<li ng-repeat="notify in notifications">-->
                <!--<a ng-click="markAsRead(notify)">-->
                    <!--<span class="time">{{notify.created_at_txt}}</span>-->
              <!--<span class="details">-->
              <!--<span class="label label-sm label-icon" ng-class="notify.color">-->
              <!--<i ng-class="notify.icon"></i>-->
              <!--</span>{{notify.message}}</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a ng-show="notifications.length <= 0">-->
        <!--<span class="details">-->
        <!--<span class="label label-sm label-icon"></span>-->
            <!--<translate>No Message</translate>-->
        <!--</span>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
<!--</ul>-->
